body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.btn-modern{
    background-color: cyan;
    border: solid 1px transparent;
    border-radius: 25px;
    padding: 10px 20px;
    color: rgb(16, 11, 19);
    cursor: pointer;
    border-bottom: 3px;
    transition: all  0.4s ease-in;
    
}
.btn-modern:hover{
    background-color: darkcyan;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgb(55, 9, 82)
}

    
